.Supporter {
  margin: 0 16px 32px;
  flex: 1 1 400px;
}

.Name {
  font-family: "Acumin Pro";
  margin: 0 0 8px;
  font-weight: normal;
}

.Highlighted {
  font-weight: normal !important;
}

.Content {
  display: flex;
  align-items: flex-start;
}

.Message {
  margin: 0;
  padding: 2px 0 0;
  flex: 1;
  font-size: 15px;
  font-style: italic;
  opacity: 0.85;
}
