.ListItemContainer {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 0 16px;
  ul {
    margin: 16px 0 16px 16px;
  }
}

.StyledArrow {
  margin: 2px 4px 0 0;
  flex: 0 0 12px;
}

.StyledText {
  margin: 0;
  line-height: 1.2em;
}
